<a [routerLink]="[racesRouteRelative]">{{"backToRaceList"|env}}</a>
<div *ngIf="race">
    <button *ngIf="isLoggedIn" routerLink="edit">{{"edit"|env}}</button>
    <button *ngIf="isLoggedIn" (click)="delete()">{{"delete"|env}}</button>
    <h1>{{"circuitName" | env}}: {{race.circuitName}}</h1>
    <!-- <br /> -->
    {{"season" | env}}: {{race.season}} <br />
    {{"winner" | env}}: {{race.winner}} <br />
    {{"noOfTeams"|env}}: <span *ngIf="race.teams">{{race.teams.length}}</span>
    <br />
    <button routerLink="teams">{{"viewTeams"|env}}</button>
</div>