<h2 *ngIf="method=='put'">{{"editRace"|env}}</h2>
<h2 *ngIf="method=='post'">{{"addRace"|env}}</h2>
<form *ngIf="method == 'post' || ( method=='put' && race)" (ngSubmit)="onSubmit()" #raceForm="ngForm">
    <label>{{"circuitName" | env}}: <input name="circuitName" [(ngModel)]="race.circuitName" /></label><br />
    <label>{{"season" | env}}: <input name="season" type="number" [(ngModel)]="race.season" /></label><br />
    <label>{{"winner" | env}}: <input name="winner" [(ngModel)]="race.winner" /></label><br />
    <button type="submit">{{"save" | env}}</button>
</form>