<div class="success" *ngIf="errorMessage">
    <h1>{{errorMessage}}</h1>
</div>
<div class="danger" *ngIf="successMessage">
    <h1>{{successMessage}}</h1>
</div>

<form *ngIf="!successMessage" (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <label>{{"name" | env}}: <input formControlName="name" /></label><br />
    <label>{{"username" | env}}: <input formControlName="username" /></label><br />
    <label>{{"password" | env}}: <input type="password" formControlName="password" /></label><br />
    <label>{{"passwordRepeat" | env}}: <input type="password" formControlName="passwordRepeat" /></label><br />
    <button type="submit">{{"register" | env}}</button>
</form>