<h2 *ngIf="method=='put'">{{"editTeam"|env}}</h2>
<h2 *ngIf="method=='post'">{{"addTeam"|env}}</h2>
<form *ngIf="method == 'post' || ( method=='put' && team)" (ngSubmit)="onSubmit()" #raceForm="ngForm">
    <label>{{"teamName"|env}}: <input name="teamName" [(ngModel)]="team.teamName" /></label><br />
    <label> {{"riderName"|env}}: <input name="riderName" [(ngModel)]="team.riderName" /></label><br />
    <label>{{"rank"|env}}: <input name="winner" type="number" [(ngModel)]="team.rank" /></label><br />
    <button type="submit">{{"save"|env}}</button>
</form>